{
  "reporter": ["lcov", "text"],
  "include": ["src/**/*.ts"],
  "extension": [".ts"],
  "exclude": ["**/*.d.ts", "test/**"],
  "branches": 50,
  "statements": 50,
  "functions": 50,
  "lines": 50
}
